.search_container {
    background: #e5007c;
    background: -webkit-linear-gradient(45deg, #e6007a, #eb7575);
    background: linear-gradient(45deg, #e6007a, #eb7575);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    padding: 15px 0;
    margin: 0;
}
.search_form {
    display: flex;
    justify-content: space-evenly;
}
.search_form .btn-search {
    flex: 1;
    max-width: 10%;
    min-width: 120px;
}

.search_form_input {
    flex: 1;
    max-width: 50%;
    padding: 0 15px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    box-shadow: 0 1px 0 #bfbebf;
    font: 400 1em/1.5em sans-serif;
}
