<article class="item_container">
	<div class="item_avatar_container">
		<div class="item_avatar">
			<img [src]="item['url_image'] != '' ? item['url_image'] : 'https://static.allovoisins.com/uploads/avatars/d6a7871ee6c08e8768e16123b045f1d2.jpg'">
		</div>
	</div>
	<div class="item_infos">
		<div class="item_owner_name">{{ item['owner']['firstname'] }}</div>
		<div class="item_presentation">
			<div class="item_desc">
				<span>{{ item['name'] }}</span>
				<br>
				{{ item['description'] }}
			</div>
		</div>
		<div class="item_city">
			<img src="https://static.allovoisins.com/images/icons/pin.svg" alt="">
			{{ item['owner']['city'] }}
		</div>
	</div>
</article>
