@import "assets/css/css_reset.css";
@import "assets/css/loading.css";

* { outline: none }
a { cursor: pointer }

body.mobileDropdown {
    overflow-y: scroll;
    position: fixed;
    left: 0;
    right: 0
}

@media (max-width: 1180px) {
    .menubar {
        padding: 0 24px
    }
}

@media (max-width: 992px) {
    .menubar {
        padding: 0 0 0 16px;
        height: 48px
    }
}

@media (max-width: 992px) {
    .menubar__logo {
        height: 48px
    }
}

.menubar__logoPicture {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-top: -2px;
    width: 200px
}

@media (max-width: 1180px) {
    .menubar__logoPicture {
        width: 160px
    }
}

@media (max-width: 768px) {
    .menubar__logoPicture {
        width: 140px
    }
}

.menubar__navWrapper {
    width: 200px;
}

@media (max-width: 992px) {
    .menubar__navWrapper {
        display: none;
    }
}

.menubar__navList {
    display: flex;
    height: 100%;
    align-items: center;
}

.menubar__navDropdown {
    padding: 16px;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 10px;
    font-size: 14px;
    top: 82px;
    opacity: 0;
    right: -8px !important;
    animation: dropdownfadein 0.4s;
    animation-fill-mode: forwards
}

.menubar__navDropdown li {
    display: block;
    text-align: left
}

.menubar__navDropdown li a {
    display: block;
    padding: 0px 8px;
    color: gray;
    line-height: 32px;
    font-weight: 500
}

.menubar__navDropdown li a:hover {
    color: #e5007c;
    background-color: transparent;
    background-image: none
}

.menubar__navDropdown li.spacer {
    margin: 16px 0px;
    height: 1px;
    width: 208px;
    background-color: #E6E6E6
}

.menubar__navDropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 16px 12px;
    border-color: transparent transparent #ffffff transparent
}

.menubar__navDropdown .cash_amount {
    position: absolute;
    right: 8px;
    color: #68dc57
}

@keyframes dropdownfadein {
    0% {
        opacity: 0;
        transform: translateY(24px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes dropdownfaderight {
    0% {
        opacity: 1;
        transform: translateX(48px)
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes buttonfadetop {
    0% {
        opacity: 0;
        transform: translateY(16px)
    }

    20% {
        opacity: 0
    }

    100% {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.menubar__navItem {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    /* -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1); */
    /* vertical-align: middle; */
    /* position: relative; */
    color: #b3b3b3;
    flex: 1;
    padding: 0 15px;
}

@media (max-width: 1180px) {
    .menubar__navItem {
        font-size: 14px
    }
}

@media (max-width: 992px) {
    .menubar__navItem {
        margin: 8px -4px 8px 0;
        display: block;
        text-align: left
    }
}

.menubar__navItem a:focus {
    outline: none !important;
    background: transparent !important
}

.menubar__navItem#menubar__postSearch {
    display: none;
    opacity: 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__navItem#menubar__postSearch.menubar__navItem--show {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 1;
    animation: buttonfadetop 0.4s;
    animation-timing-function: cubic-bezier(1, 0, 0.645, 0.77)
}

.menubar__navItem--button {
    margin: 0px 12px
}

.menubar__navItem:hover,
.menubar__navItem:focus {
    color: #333;
    text-decoration: none
}

.menubar__navItem--active {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    vertical-align: middle;
    position: relative;
    color: #333
}

@media (max-width: 1180px) {
    .menubar__navItem--active {
        font-size: 14px
    }
}

@media (max-width: 992px) {
    .menubar__navItem--active {
        margin: 8px -4px 8px 0;
        display: block;
        text-align: left
    }
}

.menubar__navItem--active a {
    color: #333
}

.menubar__navItem--active svg,
.menubar__navItem--active g {
    stroke: #333
}

.menubar__navItem--active:after {
    content: '';
    position: relative;
    top: -6px;
    display: block;
    width: 32px;
    height: 2px;
    margin: auto;
    border-radius: 16px;
    background-color: #68dc57
}

@media (max-width: 1180px) {
    .menubar__navItem--active:after {
        top: 0
    }
}

.menubar__navItem--account {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    vertical-align: middle;
    position: relative;
    background-color: #ccc;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    margin-left: 12px;
    margin-right: 0;
    cursor: pointer;
    position: relative
}

@media (max-width: 1180px) {
    .menubar__navItem--account {
        font-size: 14px
    }
}

@media (max-width: 992px) {
    .menubar__navItem--account {
        margin: 8px -4px 8px 0;
        display: block;
        text-align: left
    }
}

.menubar__navItem--account:hover .menubar__avatarOverlay {
    opacity: 1
}

.menubar__navItem--account:hover .menubar__avatarOverlayBackground {
    opacity: 0.8
}

.menubar__navItem--account i {
    color: #fff;
    font-size: 40px;
    line-height: 55px
}

.menubar__avatarOverlay {
    opacity: 0;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__avatarOverlayBackground {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, rgba(255, 153, 153, 0.7) 0%, rgba(255, 0, 102, 0.7) 100%);
    background: #e5007c;
    background: -webkit-linear-gradient(45deg, #e6007a, #eb7575);
    background: linear-gradient(45deg, #e6007a, #eb7575);
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__navLink {
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: #b3b3b3;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__navLink:hover,
.menubar__navLink:focus {
    text-decoration: none;
    color: #333
}

.menubar__navLink:hover svg,
.menubar__navLink:hover g,
.menubar__navLink:focus svg,
.menubar__navLink:focus g {
    stroke: #333
}

.menubar__navLink svg,
.menubar__navLink g {
    position: relative;
    top: 3px;
    -webkit-font-smoothing: antialiased;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 0.15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__navSpacer {
    display: inline-block;
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    vertical-align: middle;
    position: relative;
    height: 40px;
    width: 1px;
    border-radius: 4px;
    background-color: #e6e6e6;
    margin: 0px 12px
}

@media (max-width: 1180px) {
    .menubar__navSpacer {
        font-size: 14px
    }
}

@media (max-width: 992px) {
    .menubar__navSpacer {
        margin: 8px -4px 8px 0;
        display: block;
        text-align: left
    }
}

@media (max-width: 992px) {
    .menubar__navSpacer {
        width: 100%;
        height: 1px;
        margin: 16px 0px
    }
}

.menubar__mobileNav {
    position: relative;
    height: 48px;
    float: right;
    display: none
}

@media (max-width: 992px) {
    .menubar__mobileNav {
        display: block;
        height: 48px
    }
}

.menubar__mobileNavAction {
    position: relative;
    display: inline-flex;
    align-items: baseline;
    justify-content: center;
    width: 48px;
    height: 48px;
    text-align: center;
    cursor: pointer;
    float: right
}

@media (max-width: 992px) {
    .menubar__mobileNavAction {
        width: 48px;
        height: 48px
    }
}

.menubar__mobileNavAction:hover .menubar__avatarOverlayIcon--mobile span {
    background: #333
}

.menubar__mobileNavAction:hover .menubar__avatarOverlayIcon--mobile span::before {
    background: #333
}

.menubar__mobileNavAction:hover .menubar__avatarOverlayIcon--mobile span::after {
    background: #333
}

.menubar__mobileNavAction.active .menubar__avatarOverlayIcon--mobile span {
    background: transparent
}

.menubar__mobileNavAction.active .menubar__avatarOverlayIcon--mobile span::before {
    width: 100%;
    background: #e5007c;
    -webkit-transform: translate(0, 5px) rotate(-45deg);
    transform: translate(0, 5px) rotate(-45deg)
}

.menubar__mobileNavAction.active .menubar__avatarOverlayIcon--mobile span::after {
    width: 100%;
    background: #e5007c;
    -webkit-transform: translate(0, -5px) rotate(45deg);
    transform: translate(0, -5px) rotate(45deg)
}

.menubar__mobileNavAction .menubar__navLink {
    padding: 10px 12px
}

.menubar__mobileNavAction .menubar__navLink svg {
    width: 22px
}

.menubar__mobileNavAction.menubar__mobileNavAction--search {
    padding: 10px 12px
}

.menubar__mobileNavAction.menubar__mobileNavAction--search svg {
    width: 24px;
    position: relative;
    top: 2px
}

.menubar__mobileNavAction.menubar__mobileNavAction--search svg use {
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__mobileNavAction.menubar__mobileNavAction--search:hover use {
    fill: #333
}

.menubar__mobileNavItem {
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}

.menubar__mobileNavDropdown {
    padding: 16px;
    background-color: #fff;
    border: none;
    box-shadow: 0 5px 40px -15px rgba(0, 0, 0, 0.5);
    text-align: left;
    border-radius: 10px;
    font-size: 14px;
    top: 82px;
    opacity: 0;
    right: -8px !important;
    animation: dropdownfadein 0.4s;
    animation-fill-mode: forwards;
    position: relative;
    border-radius: 0px;
    display: none;
    position: absolute;
    z-index: 1006;
    background-color: #ffffff;
    padding: 16px 24px;
    top: 48px;
    right: 0 !important;
    box-shadow: none;
    width: 288px;
    opacity: 1;
    animation: dropdownfaderight 0.4s
}

.menubar__mobileNavDropdown li {
    display: block;
    text-align: left
}

.menubar__mobileNavDropdown li a {
    display: block;
    padding: 0px 8px;
    color: gray;
    line-height: 32px;
    font-weight: 500
}

.menubar__mobileNavDropdown li a:hover {
    color: #e5007c;
    background-color: transparent;
    background-image: none
}

.menubar__mobileNavDropdown li.spacer {
    margin: 16px 0px;
    height: 1px;
    width: 208px;
    background-color: #E6E6E6
}

.menubar__mobileNavDropdown::before {
    content: '';
    position: absolute;
    top: -8px;
    right: 16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 16px 12px;
    border-color: transparent transparent #ffffff transparent
}

.menubar__mobileNavDropdown .cash_amount {
    position: absolute;
    right: 8px;
    color: #68dc57
}

.menubar__mobileNavDropdown::before {
    display: none
}

.menubar__mobileNavDropdown.active {
    display: block;
    opacity: 1
}

@media (min-width: 993px) {
    .menubar__mobileNavDropdown {
        display: none
    }

    .menubar__mobileNavDropdown.active {
        display: none
    }
}

.menubar__avatarOverlayIconWrapper {
    position: absolute;
    z-index: 2;
    left: 0;
    right: 0
}

.menubar__avatarOverlayIcon {
    display: inline-block;
    cursor: pointer;
    width: 16px;
    height: 16px;
    padding: 14px 0
}

.menubar__avatarOverlayIcon span {
    position: relative;
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 5px 0 0;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .3s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__avatarOverlayIcon span::before,
.menubar__avatarOverlayIcon span::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .3s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .3s cubic-bezier(0.42, 0, 0.58, 1)
}

.menubar__avatarOverlayIcon span::before {
    top: -5px
}

.menubar__avatarOverlayIcon span::after {
    top: 5px
}

.menubar__avatarOverlayIcon.menubar__avatarOverlayIcon--mobile {
    padding: 18px 0
}

.menubar__avatarOverlayIcon.menubar__avatarOverlayIcon--mobile span {
    background: #b3b3b3
}

.menubar__avatarOverlayIcon.menubar__avatarOverlayIcon--mobile span::before {
    background: #b3b3b3
}

.menubar__avatarOverlayIcon.menubar__avatarOverlayIcon--mobile span::after {
    background: #b3b3b3
}

.menubar__navList.open .menubar__avatarOverlay {
    opacity: 1
}

.menubar__navList.open .menubar__avatarOverlayBackground {
    opacity: 0.8
}

.menubar__navList.open .menubar__avatarOverlayIcon span {
    background: transparent
}

.menubar__navList.open .menubar__avatarOverlayIcon span::before {
    width: 100%;
    -webkit-transform: translate(0, 5px) rotate(-45deg);
    transform: translate(0, 5px) rotate(-45deg)
}

.menubar__navList.open .menubar__avatarOverlayIcon span::after {
    width: 100%;
    -webkit-transform: translate(0, -5px) rotate(45deg);
    transform: translate(0, -5px) rotate(45deg)
}

.menubar__navNotifications {
    min-width: 16px;
    height: 16px;
    line-height: 10px;
    font-size: 9px;
    background-color: #e5007c;
    border-radius: 20px;
    font-weight: bold;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 4px;
    padding: 3px
}

@media (max-width: 992px) {
    .menubar__navNotifications {
        line-height: 12px
    }
}

.menubar__navListMobile {
    padding-left: 0
}

.facebook-loading {
    position: absolute;
    cursor: pointer
}

.highlighted {
    color: #e5007c !important
}

@media screen and (min-width: 991px) {
    .facebook-loading {
        position: absolute;
        margin-left: 20%;
        cursor: pointer
    }
}

.btn--pink {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    padding: 0px 32px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    background: #e5007c;
    background: -webkit-linear-gradient(45deg, #e6007a, #eb7575);
    background: linear-gradient(45deg, #e6007a, #eb7575)
}

.btn--pink.btn--slim {
    height: 40px;
    padding: 0px 24px
}

.btn--pink::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0
}

.btn--pink:hover::after {
    opacity: 1
}

.btn--pink:hover {
    color: #fff
}

.btn--pink:hover.btn--slim {
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1)
}

.btn--pink:focus {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn--pink {
        height: 40px;
        font-size: 13px
    }
}

.btn--green {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    padding: 0px 32px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    background: #68dc57;
    background: -webkit-linear-gradient(45deg, #50cc7d, #96e077);
    background: linear-gradient(45deg, #50cc7d, #96e077)
}

.btn--green.btn--slim {
    height: 40px;
    padding: 0px 24px
}

.btn--green::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0
}

.btn--green:hover::after {
    opacity: 1
}

.btn--green:hover {
    color: #fff
}

.btn--green:hover.btn--slim {
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1)
}

.btn--green:focus {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn--green {
        height: 40px;
        font-size: 13px
    }
}

.btn--blue {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    padding: 0px 32px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    background: #62a7d9;
    background: -webkit-linear-gradient(45deg, #4c9ed9, #95c4e6);
    background: linear-gradient(45deg, #4c9ed9, #95c4e6)
}

.btn--blue.btn--slim {
    height: 40px;
    padding: 0px 24px
}

.btn--blue::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0
}

.btn--blue:hover::after {
    opacity: 1
}

.btn--blue:hover {
    color: #fff
}

.btn--blue:hover.btn--slim {
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1)
}

.btn--blue:focus {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn--blue {
        height: 40px;
        font-size: 13px
    }
}

.btn--white {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    padding: 0px 32px;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    background: "";
    background: -webkit-linear-gradient(45deg, #f0f0f0, #fafafa);
    background: linear-gradient(45deg, #f0f0f0, #fafafa)
}

.btn--white.btn--slim {
    height: 40px;
    padding: 0px 24px
}

.btn--white::after {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    opacity: 0
}

.btn--white:hover::after {
    opacity: 1
}

.btn--white:hover {
    color: #fff
}

.btn--white:hover.btn--slim {
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.1)
}

.btn--white:focus {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn--white {
        height: 40px;
        font-size: 13px
    }
}

.btn--disabled {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    text-align: center;
    padding: 0px 32px;
    background-color: #e6e6e6;
    color: #b3b3b3;
    cursor: not-allowed;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    background: "";
    background: -webkit-linear-gradient(45deg, #e6e6e6);
    background: linear-gradient(45deg, #e6e6e6)
}

.btn--disabled.btn--slim {
    height: 40px;
    padding: 0px 24px
}

@media (max-width: 1180px) {
    .btn--disabled {
        height: 40px;
        font-size: 13px
    }
}

.btn-o--pink {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #e5007c;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--pink.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--pink:hover {
    color: #e5007c;
    border-color: #e5007c
}

.btn-o--pink:focus {
    color: #e5007c;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--pink {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--green {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #68dc57;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--green.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--green:hover {
    color: #68dc57;
    border-color: #68dc57
}

.btn-o--green:focus {
    color: #68dc57;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--green {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--blue {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #62a7d9;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--blue.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--blue:hover {
    color: #62a7d9;
    border-color: #62a7d9
}

.btn-o--blue:focus {
    color: #62a7d9;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--blue {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--white {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #fff;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--white.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--white:hover {
    color: #fff;
    border-color: #e6e6e6;
    color: #e6e6e6
}

.btn-o--white:focus {
    color: #fff;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--white {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--grey-p {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #333;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--grey-p.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--grey-p:hover {
    color: #333;
    border-color: #e5007c;
    color: #e5007c
}

.btn-o--grey-p:focus {
    border-color: #e5007c;
    color: #e5007c;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--grey-p {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--grey-g {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #333;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--grey-g.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--grey-g:hover {
    color: #333;
    border-color: #68dc57;
    color: #68dc57
}

.btn-o--grey-g:focus {
    border-color: #68dc57;
    color: #68dc57;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--grey-g {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--grey-b {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #333;
    border: 2px solid #e6e6e6;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--grey-b.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--grey-b:hover {
    color: #333;
    border-color: #62a7d9;
    color: #62a7d9
}

.btn-o--grey-b:focus {
    border-color: #62a7d9;
    color: #62a7d9;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--grey-b {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--pink-w {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--pink-w.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--pink-w:hover {
    color: #e5007c;
    background-color: #fff
}

.btn-o--pink-w:focus {
    color: #e5007c;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--pink-w {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--green-w {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--green-w.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--green-w:hover {
    color: #68dc57;
    background-color: #fff
}

.btn-o--green-w:focus {
    color: #68dc57;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--green-w {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn-o--blue-w {
    position: relative;
    height: 48px;
    line-height: 1;
    z-index: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: transparent;
    padding: 0px 32px;
    color: #fff;
    border: 2px solid #fff;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    border-radius: 32px;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    overflow: hidden;
    -webkit-font-smoothing: antialiased;
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -webkit-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all .15s cubic-bezier(0.42, 0, 0.58, 1);
    transition: all .15s cubic-bezier(0.42, 0, 0.58, 1)
}

.btn-o--blue-w.btn-o--slim {
    height: 40px;
    padding: 0px 24px
}

.btn-o--blue-w:hover {
    color: #62a7d9;
    background-color: #fff
}

.btn-o--blue-w:focus {
    color: #62a7d9;
    text-decoration: none
}

@media (max-width: 1180px) {
    .btn-o--blue-w {
        height: 40px;
        padding: 0px 32px;
        font-size: 13px
    }
}

.btn--small {
    height: 32px;
    padding: 0px 16px
}

.avatar--mini {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden
}

.avatar--mini img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast
}

.avatar--small {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    overflow: hidden
}

.avatar--small img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast
}

.avatar--medium {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    overflow: hidden
}

.avatar--medium img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast
}

.avatar--large {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    border-radius: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    overflow: hidden
}

.avatar--large img {
    width: 100%;
    height: auto;
    image-rendering: -webkit-optimize-contrast
}

.noavatar--mini {
    margin: 0 auto;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    overflow: hidden;
    background-color: #ccc;
    font-size: 40px;
    text-align: center
}

.noavatar--mini i {
    color: #fff;
    width: 100%;
    height: auto;
    line-height: 40px
}

.noavatar--small {
    margin: 0 auto;
    width: 48px;
    height: 48px;
    -webkit-border-radius: 48px;
    -moz-border-radius: 48px;
    border-radius: 48px;
    overflow: hidden;
    background-color: #ccc;
    font-size: 48px;
    text-align: center
}

.noavatar--small i {
    color: #fff;
    width: 100%;
    height: auto;
    line-height: 48px
}

.noavatar--medium {
    margin: 0 auto;
    width: 64px;
    height: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    border-radius: 64px;
    overflow: hidden;
    background-color: #ccc;
    font-size: 64px;
    text-align: center
}

.noavatar--medium i {
    color: #fff;
    width: 100%;
    height: auto;
    line-height: 64px
}

.noavatar--large {
    margin: 0 auto;
    width: 120px;
    height: 120px;
    -webkit-border-radius: 120px;
    -moz-border-radius: 120px;
    border-radius: 120px;
    overflow: hidden;
    background-color: #ccc;
    font-size: 120px;
    text-align: center
}

.noavatar--large i {
    color: #fff;
    width: 100%;
    height: auto;
    line-height: 120px
}

.label--pink {
    color: #e5007c;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold
}

.label--black {
    color: #333;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold
}

.label--grey {
    color: #ccc;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold
}

.ribbon--pink {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: space-between;
    padding: 40px 0px;
    background: #e5007c;
    background: -webkit-linear-gradient(45deg, #e6007a, #eb7575);
    background: linear-gradient(45deg, #e6007a, #eb7575)
}

@media (max-width: 992px) {
    .ribbon--pink {
        padding: 24px 8px
    }
}

.ribbon--pink .ribbon__text {
    color: #fff
}

.ribbon--pink .ribbon__button a:hover {
    color: #e5007c;
    text-decoration: none
}

.ribbon--pink .ribbon__button a:active,
.ribbon--pink .ribbon__button a:focus {
    color: #e5007c;
    outline: none
}

.ribbon--green {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: space-between;
    padding: 40px 0px;
    background: #68dc57;
    background: -webkit-linear-gradient(45deg, #50cc7d, #96e077);
    background: linear-gradient(45deg, #50cc7d, #96e077)
}

@media (max-width: 992px) {
    .ribbon--green {
        padding: 24px 8px
    }
}

.ribbon--green .ribbon__text {
    color: #fff
}

.ribbon--green .ribbon__button a:hover {
    color: #68dc57;
    text-decoration: none
}

.ribbon--green .ribbon__button a:active,
.ribbon--green .ribbon__button a:focus {
    color: #68dc57;
    outline: none
}

.ribbon--blue {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: space-between;
    padding: 40px 0px;
    background: #62a7d9;
    background: -webkit-linear-gradient(45deg, #4c9ed9, #95c4e6);
    background: linear-gradient(45deg, #4c9ed9, #95c4e6)
}

@media (max-width: 992px) {
    .ribbon--blue {
        padding: 24px 8px
    }
}

.ribbon--blue .ribbon__text {
    color: #fff
}

.ribbon--blue .ribbon__button a:hover {
    color: #62a7d9;
    text-decoration: none
}

.ribbon--blue .ribbon__button a:active,
.ribbon--blue .ribbon__button a:focus {
    color: #62a7d9;
    outline: none
}

.ribbon--grey {
    position: relative;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    align-items: space-between;
    padding: 40px 0px;
    background: #ccc;
    background: -webkit-linear-gradient(45deg, #f0f0f0, #fafafa);
    background: linear-gradient(45deg, #f0f0f0, #fafafa)
}

@media (max-width: 992px) {
    .ribbon--grey {
        padding: 24px 8px
    }
}

.ribbon--grey .ribbon__text {
    color: #fff
}

.ribbon--grey .ribbon__button a:hover {
    color: #ccc;
    text-decoration: none
}

.ribbon--grey .ribbon__button a:active,
.ribbon--grey .ribbon__button a:focus {
    color: #ccc;
    outline: none
}

.ribbon__background {
    position: absolute;
    z-index: 0;
    bottom: -1px;
    height: 128px
}

.ribbon__background.ribbon__backgroundLeft {
    left: 0px;
    width: 142px;
    background-image: url("/images/overlays/allomojis-overlay-left.png");
    background-size: 100%
}

.ribbon__background.ribbon__backgroundRight {
    right: 0px;
    width: 133px;
    background-image: url("/images/overlays/allomojis-overlay-right.png");
    background-size: 100%
}

.ribbon__content {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center
}

@media (max-width: 992px) {
    .ribbon__content {
        flex-wrap: wrap
    }
}

.ribbon__textTitle {
    margin: 0px 16px 0px 0px;
    font-size: 24px;
    line-height: 30px;
    margin: 0px 0px 10px 0px
}

.ribbon__textValue {
    font-size: 16px;
    font-weight: 500;
    line-height: 20px
}

.ribbon__text {
    flex-grow: 1;
    font-weight: bold;
    padding: 0px 16px 0px 0px
}

@media (max-width: 992px) {
    .ribbon__text {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        text-align: center;
        padding: 0px;
        margin: 0px 0px 16px 0px
    }
}

.ribbon__button {
    flex-shrink: 0
}

@media (max-width: 992px) {
    .ribbon__button {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 100%;
        text-align: center
    }
}

.modal-contact-link {
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    transition: opacity .5s ease-in-out
}

.modal-contact-link.modal-contact-link-hidden {
    opacity: 0;
    pointer-events: none
}

.modal-contact-link.modal-contact-link-shown {
    opacity: 1;
    pointer-events: auto
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: "Quicksand", sans-serif
}

/*# sourceMappingURL=base.css.map */
