@import "assets/css/css_reset.css";
@import "assets/css/loading.css";

* {
    outline: none!important;
}

a {
    cursor: pointer
}
body {
    background: #edefec;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: "Quicksand", sans-serif
}
