<div class="menubar">
	<div class="menubar__logo">
		<a href="/" title="AlloVoisins - Location de matériel et services entre particuliers">
			<img src="https://static.allovoisins.com/images/allovoisins-logo.svg" alt="AlloVoisins - Location de matériel et services entre particuliers"
			 class="menubar__logoPicture">
		</a>
	</div>
	<nav class="menubar__navWrapper">
		<ul class="menubar__navList">
			<li class="menubar__navItem" *ngIf="is_admin()">
				<a class="menubar__navLink">Admin</a>
			</li>
			<li class="menubar__navItem">
				<a routerLink="/properties" routerLinkActive="menubar__navItem--active" class="menubar__navLink">Biens</a>
			</li>
			<li class="menubar__navItem">
				<a routerLink="/services" routerLinkActive="menubar__navItem--active" class="menubar__navLink">Services</a>
			</li>
			<li class="menubar__navItem" *ngIf="!is_connected()">
				<a routerLink="/login" class="menubar__navLink">Connexion</a>
			</li>
			<li class="menubar__navItem" *ngIf="is_connected()">
				<a (click)="logout()" class="menubar__navLink">Déconnexion</a>
			</li>
		</ul>
	</nav>
	<div class="menubar__mobileNav" (click)="open = !open">
		<div class="menubar__mobileNavAction">
			<div id="menubar__mobileActionDropdown" class="menubar__mobileNavAction">
				<div class="menubar__avatarOverlayIconWrapper">
					<div class="menubar__avatarOverlayIcon menubar__avatarOverlayIcon--mobile"><span></span></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="menubar__mobileNavDropdown" class="menubar__mobileNavDropdown" [ngClass]="{'active': open}">
	<ul class="menubar__navListMobile">
			<li class="menubar__navItem" *ngIf="admin"><a class="menubar__navLink">Admin</a></li>
			<li class="menubar__navItem"><a routerLink="/properties" routerLinkActive="mobile-active" class="menubar__navLink">Biens</a></li>
			<li class="menubar__navItem"><a routerLink="/services" routerLinkActive="mobile-active" class="menubar__navLink">Services</a></li>
 	</ul>
</div>
