<div class="pos-f-t navbarre">
	<nav class="navbar navitem">
    	<p class="navbar-toggler item_title" data-toggle="collapse" data-target="#navbarToggleUsers" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      		Utilisateurs
    	</p>
  	</nav>
  	<div class="collapse navitem" id="navbarToggleUsers">
	    <div class="links">
	    	<ul>
	    		<li>
	    			<a routerLink="/admin" class="item_link">Gestion des déséquilibres</a>
	    		</li>
	    		<li>
	    			<a routerLink="members-list" class="item_link">Liste des utilisateurs</a>
	    		</li>
	    	</ul>
    	</div>
  	</div>

  	<nav class="navbar navitem">
    	<p class="navbar-toggler item_title" data-toggle="collapse" data-target="#navbarToggleProperties" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      		Biens
    	</p>
  	</nav>
  	<div class="collapse navitem" id="navbarToggleProperties">
	    <div class="links">
      		<ul>
	    		<li>
	    			<a routerLink="/admin/properties-list" class="item_link">Liste des biens</a>
	    		</li>
	    	</ul>
    	</div>
  	</div>

  	<nav class="navbar navitem">
    	<p class="navbar-toggler item_title" data-toggle="collapse" data-target="#navbarToggleServices" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      		Services
    	</p>
  	</nav>
  	<div class="collapse navitem" id="navbarToggleServices">
	    <div class="links">
      		<ul>
	    		<li>
	    			<a routerLink="/admin/services-list" class="item_link">Liste des services</a>
	    		</li>
	    	</ul>
    	</div>
  	</div>
  	

    <nav class="navbar navitem">
      <p routerLink="" class="navbar-toggler item_title" data-toggle="collapse" data-target="#navbarToggleServices" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
          Retour accueil
      </p>
    </nav>
</div>