.row{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.admin_navbar{
	padding: 0;
	height: 100vh;
}

.main_view{
	display: flex;
	flex-direction: column;
}

h1{
	height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.members_list{
	height: 90vh;
	width: 100%;
	align-self: flex-end;
}

.member_list_header{
	font-weight: bold;
	font-style: italic;
	padding-bottom: 2%;
    padding-top: 2%;
    background-color: aliceblue;
}

.member{
	margin-bottom: 1%;
	padding-top: 1%;
	border-top: 1px solid black;
}